config/packetery-soap-bugfix.wsdl

<?xml version="1.0"?>
<definitions name="packetery"
          targetNamespace="http://www.zasilkovna.cz/api/soap.wsdl"
          xmlns:tns="http://www.zasilkovna.cz/api/soap.wsdl"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns:xsd="http://www.w3.org/2001/XMLSchema"
          xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0"
          xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema jaxb:version="2.0" elementFormDefault="qualified" targetNamespace="http://www.zasilkovna.cz/api/soap.wsdl">
            <xsd:annotation>
                <xsd:appinfo>
                    <jaxb:globalBindings>
                        <jaxb:javaType name="java.util.Calendar" xmlType="xsd:dateTime" parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime" printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
                    </jaxb:globalBindings>
                </xsd:appinfo>
            </xsd:annotation>

            <xsd:simpleType name="string2">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string24">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="24" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string32">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="32" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string64">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="64" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="string256">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="email">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="|.*@.*\..*" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="phone">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="money">
                <xsd:restriction base="xsd:decimal">
                    <xsd:fractionDigits value="2" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="weight">
                <xsd:restriction base="xsd:decimal">
                    <xsd:fractionDigits value="3" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="zip">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="currency">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="3" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="apiKey">
                <xsd:restriction base="xsd:string">
                    <xsd:length value="16" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="ead">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="own"/>
                    <xsd:enumeration value="create"/>
                    <xsd:enumeration value="carrier"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ExternalStatusRecord">
                <xsd:sequence>
                    <xsd:element name="dateTime" type="xsd:dateTime" />
                    <xsd:element name="carrierClass" type="xsd:string" />
                    <xsd:element name="statusCode" type="xsd:string" />
                    <xsd:element name="externalStatusName" type="xsd:string" />
                    <xsd:element name="externalNote" type="xsd:string" nillable="true" />
                    <xsd:element name="externalTrackingCode" type="xsd:string" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="StatusRecord">
                <xsd:sequence>
                    <xsd:element name="dateTime" type="xsd:dateTime" />
                    <xsd:element name="statusCode" type="xsd:unsignedInt" />
                    <xsd:element name="codeText" type="xsd:string" />
                    <xsd:element name="statusText" type="xsd:string" />
                    <xsd:element name="branchId" type="xsd:unsignedInt" />
                    <xsd:element name="destinationBranchId" type="xsd:unsignedInt" />
                    <xsd:element name="externalTrackingCode" type="xsd:string" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CurrentStatusRecord">
                <xsd:complexContent>
                    <xsd:extension base="tns:StatusRecord">
                        <xsd:sequence>
                            <xsd:element name="isReturning" type="xsd:boolean" />
                            <xsd:element name="storedUntil" type="xsd:date" nillable="true" />
                            <xsd:element name="carrierId" type="xsd:string" nillable="true" />
                            <xsd:element name="carrierName" type="xsd:string" nillable="true" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="DispatchOrder">
                <xsd:sequence>
                    <xsd:element name="goods" type="xsd:string" />
                    <xsd:element name="pdf" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DispatchOrder2">
                <xsd:sequence>
                    <xsd:element name="goods" type="xsd:string" />
                    <xsd:element name="pdf" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DispatchOrder2Item">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string" />
                    <xsd:element name="name" type="xsd:base64Binary" />
                    <xsd:element name="unit_price" type="xsd:base64Binary" />
                    <xsd:element name="pieces" type="xsd:base64Binary" />
                    <xsd:element name="price" type="xsd:base64Binary" />
                    <xsd:element name="vat" type="xsd:base64Binary" />
                    <xsd:element name="price_vat" type="xsd:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PacketConsignerAttributes">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="consignerEmail" type="tns:email" />
                    <xsd:element name="consignerPhone" type="tns:phone" minOccurs="0" />
                    <xsd:element name="consignerCountry" type="tns:string2" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PacketAttributes">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" nillable="true" />
                    <xsd:element name="affiliateId" type="tns:string16" nillable="true" />
                    <xsd:element name="number" type="tns:string24" />
                    <xsd:element name="name" type="tns:string32" />
                    <xsd:element name="surname" type="tns:string32" />
                    <xsd:element name="company" type="tns:string32" nillable="true" />
                    <xsd:element name="email" type="tns:email" nillable="true" />
                    <xsd:element name="phone" type="tns:phone" nillable="true" />
                    <xsd:element name="addressId" type="xsd:unsignedInt" />
                    <xsd:element name="cod" type="tns:money" default="0" nillable="true" />
                    <xsd:element name="currency" type="tns:currency" nillable="true" />
                    <xsd:element name="value" type="tns:money" />
                    <xsd:element name="weight" type="tns:weight" />
                    <xsd:element name="eshop" type="tns:string64" nillable="true" />
                    <xsd:element name="adultContent" type="xsd:unsignedInt" default="0" nillable="true" />
                    <xsd:element name="deliverOn" type="xsd:date" nillable="true" />
                    <xsd:element name="note" type="xsd:string" nillable="true" />
                    <xsd:element name="street" type="tns:string64" nillable="true" />
                    <xsd:element name="houseNumber" type="tns:string16" nillable="true" />
                    <xsd:element name="city" type="tns:string32" nillable="true" />
                    <xsd:element name="province" type="tns:string32" nillable="true" />
                    <xsd:element name="zip" type="tns:zip" nillable="true" />
                    <xsd:element name="dispatchOrder" type="tns:DispatchOrder" nillable="true" />
                    <xsd:element name="customerBarcode" type="tns:string32" nillable="true" />
                    <xsd:element name="carrierPickupPoint" type="tns:string64" nillable="true" />
                    <xsd:element name="carrierService" type="xsd:string" nillable="true" />
                    <xsd:element name="customsDeclaration" type="tns:CustomsDeclaration" nillable="true" />
                    <xsd:element name="size" type="tns:Size" nillable="true" />
                    <xsd:element name="attributes" type="tns:AttributeCollection" minOccurs="0" />
                    <xsd:element name="items" type="tns:ItemCollection" minOccurs="0" />
                    <xsd:element name="security" type="tns:Security" minOccurs="0" />
                    <xsd:element name="services" type="tns:Services" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="PacketsAttributes">
                <xsd:sequence>
                    <xsd:element name="attributes" minOccurs="1" maxOccurs="unbounded" type="tns:PacketAttributes" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="UpdatePacketAttributes">
                <xsd:all>
                    <xsd:element name="cod" type="tns:money" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="PacketB2BAttributes">
                <xsd:all>
                    <xsd:element name="addressId" type="xsd:integer" />
                    <xsd:element name="count" type="xsd:integer" default="1" nillable="true" />
                    <xsd:element name="isReturn" type="xsd:boolean" default="false" nillable="true" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ClaimAttributes">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" nillable="true" />
                    <xsd:element name="number" type="tns:string24" />
                    <xsd:element name="email" type="tns:email" nillable="true" />
                    <xsd:element name="phone" type="tns:phone" nillable="true" />
                    <xsd:element name="value" type="tns:money" />
                    <xsd:element name="currency" type="tns:currency" />
                    <xsd:element name="eshop" type="tns:string64" nillable="true" />
                    <xsd:element name="sendLabelToEmail" type="xsd:boolean" nillable="true" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ClaimWithPasswordAttributes">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string" nillable="true"/>
                    <xsd:element name="number" type="tns:string24" />
                    <xsd:element name="email" type="tns:email"/>
                    <xsd:element name="phone" type="tns:phone" />
                    <xsd:element name="value" type="tns:money" />
                    <xsd:element name="currency" type="tns:currency" />
                    <xsd:element name="eshop" type="tns:string64" />
                    <xsd:element name="consignCountry" type="tns:string2" />
                    <xsd:element name="sendEmailToCustomer" type="xsd:boolean" nillable="true" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="CustomsDeclarationItems">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="1" maxOccurs="unbounded" type="tns:CustomsDeclarationItem" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CustomsDeclaration">
                <xsd:all>
                    <xsd:element name="ead" type="tns:ead"/>
                    <xsd:element name="deliveryCost" type="tns:money"/>
                    <xsd:element name="isDocument" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="invoiceNumber" type="tns:string16" minOccurs="0"/>
                    <xsd:element name="invoiceIssueDate" type="xsd:date" minOccurs="0"/>
                    <xsd:element name="mrn" type="tns:string32" minOccurs="0"/>
                    <xsd:element name="eadFile" type="xsd:unsignedInt" minOccurs="0"/>
                    <xsd:element name="invoiceFile" type="xsd:unsignedInt" minOccurs="0"/>
                    <xsd:element name="items" type="tns:CustomsDeclarationItems" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="CustomsDeclarationItem">
                <xsd:all>
                    <xsd:element name="customsCode" type="xsd:string"/>
                    <xsd:element name="value" type="tns:money"/>
                    <xsd:element name="productNameEn" type="tns:string32"/>
                    <xsd:element name="productName" type="tns:string32" minOccurs="0"/>
                    <xsd:element name="unitsCount" type="xsd:unsignedInt" default="0"/>
                    <xsd:element name="countryOfOrigin" type="tns:string16"/>
                    <xsd:element name="weight" type="xsd:unsignedInt" />
                    <xsd:element name="isFoodBook" type="xsd:boolean" minOccurs="0" default="0"/>
                    <xsd:element name="isVoc" type="xsd:boolean" minOccurs="0" default="0"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ItemCollection">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Item" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Item">
                <xsd:all>
                    <xsd:element name="attributes" type="tns:AttributeCollection" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="AttributeCollection">
                <xsd:sequence>
                    <xsd:element name="attribute" minOccurs="0" maxOccurs="unbounded" type="tns:Attribute" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Attribute">
                <xsd:all>
                    <xsd:element name="key" type="tns:string32"/>
                    <xsd:element name="value" type="tns:string256" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="Security">
                <xsd:all>
                    <xsd:element name="allowPublicTracking" minOccurs="0" type="xsd:boolean" default="0"/>
                    <xsd:element name="allowTrackingForUsers" minOccurs="0" type="tns:AllowTrackingForUsers" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="AllowTrackingForUsers">
                <xsd:sequence>
                    <xsd:element name="apiKeys">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="apiKey" type="tns:apiKey"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Services">
                <xsd:all>
                    <xsd:element name="firstMileCarrier" minOccurs="0" type="tns:FirstMileCarrierService"/>
                    <xsd:element name="lastMileCarrier" minOccurs="0" type="tns:LastMileCarrierService"/>
                    <xsd:element name="returnDestination" minOccurs="0" type="tns:ReturnDestinationService"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="FirstMileCarrierService">
                <xsd:all>
                    <xsd:element name="addressId" type="xsd:unsignedInt"/>
                    <xsd:element name="foreignId" minOccurs="0" type="tns:string64"/>
                    <xsd:element name="barcode" minOccurs="0" type="tns:string64"/>
                    <xsd:element name="trackingCode" minOccurs="0" type="tns:string64"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="LastMileCarrierService">
                <xsd:all>
                    <xsd:element name="addressId" type="xsd:unsignedInt"/>
                    <xsd:element name="foreignId" minOccurs="0" type="tns:string64"/>
                    <xsd:element name="barcode" minOccurs="0" type="tns:string64"/>
                    <xsd:element name="trackingCode" minOccurs="0" type="tns:string64"/>
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ReturnDestinationService">
                <xsd:choice>
                    <xsd:group ref="tns:ReturnDestinationServiceToAddress" />
                    <xsd:group ref="tns:ReturnDestinationServiceToClient" />
                </xsd:choice>
            </xsd:complexType>
            <xsd:group name="ReturnDestinationServiceToAddress">
                <xsd:sequence>
                    <xsd:element name="addressId" type="xsd:unsignedInt"/>
                    <xsd:element name="carrierPickupPoint" type="tns:string64" nillable="true" minOccurs="0" />
                    <xsd:element name="returnAddress" type="tns:ReturnDestinationServiceAddress" minOccurs="0" />
                </xsd:sequence>
            </xsd:group>
            <xsd:complexType name="ReturnDestinationServiceAddress">
                <xsd:sequence>
                    <xsd:group ref="tns:ReturnDestinationServiceAddressAddress" minOccurs="0" />
                    <xsd:group ref="tns:ReturnDestinationServiceAddressContact" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:group name="ReturnDestinationServiceAddressAddress">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="surname" type="xsd:string" />
                    <xsd:element name="street" type="xsd:string" />
                    <xsd:element name="houseNumber" type="xsd:string"/>
                    <xsd:element name="city" type="xsd:string" />
                    <xsd:element name="zip" type="tns:zip" />
                </xsd:sequence>
            </xsd:group>
            <xsd:group name="ReturnDestinationServiceAddressContact">
                <xsd:sequence>
                    <xsd:element name="phone" type="tns:phone" minOccurs="0" />
                    <xsd:element name="email" type="tns:email" minOccurs="0" />
                </xsd:sequence>
            </xsd:group>
            <xsd:group name="ReturnDestinationServiceToClient">
                <xsd:sequence>
                    <xsd:element name="client" type="tns:ReturnDestinationServiceClient" />
                </xsd:sequence>
            </xsd:group>
            <xsd:complexType name="ReturnDestinationServiceClient">
                <xsd:sequence>
                    <xsd:element name="apiKey" type="tns:apiKey" />
                    <xsd:element name="eshop" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Size">
                <xsd:sequence>
                    <xsd:element name="length" type="xsd:unsignedInt"/>
                    <xsd:element name="width" type="xsd:unsignedInt"/>
                    <xsd:element name="height" type="xsd:unsignedInt"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PacketIdDetail">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="barcode" type="xsd:string" />
                    <xsd:element name="barcodeText" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PacketDetail">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="barcode" type="xsd:string" />
                    <xsd:element name="barcodeText" type="xsd:string" />
                    <xsd:element name="password" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreatePacketResult">
                <xsd:sequence>
                    <xsd:element name="createdPacket" type="tns:PacketIdDetail" nillable="true" />
                    <xsd:element name="fault" type="xsd:string" nillable="true" />
                    <xsd:element name="packetAttributesFault" type="tns:PacketAttributesFault" minOccurs="0" />
                    <xsd:element name="dispatchOrderUnknownCodeFault" type="tns:DispatchOrderUnknownCodeFault" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreatePacketsResults">
                <xsd:sequence>
                    <xsd:element name="packet" minOccurs="0" maxOccurs="unbounded" type="tns:CreatePacketResult" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="CreatePacketsB2BResults">
                <xsd:sequence>
                    <xsd:element name="packet" minOccurs="0" maxOccurs="unbounded" type="tns:CreatePacketResult" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SenderGetReturnRoutingResult">
                <xsd:sequence>
                    <xsd:element name="routingSegment" minOccurs="1" maxOccurs="unbounded" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PacketIds">
                <xsd:sequence>
                    <xsd:element name="id" minOccurs="1" maxOccurs="unbounded" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PacketIdsWithCourierNumbers">
                <xsd:sequence>
                    <xsd:element name="packetIdWithCourierNumber" minOccurs="1" maxOccurs="unbounded" type="tns:PacketIdWithCourierNumber" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PacketIdWithCourierNumber">
                <xsd:all>
                    <xsd:element name="packetId" type="xsd:string" />
                    <xsd:element name="courierNumber" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ShipmentIdDetail">
                <xsd:all>
                    <xsd:element name="id" type="xsd:unsignedInt" />
                    <xsd:element name="checksum" type="xsd:string" />
                    <xsd:element name="barcode" type="xsd:string" />
                    <xsd:element name="barcodeText" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="PacketCollection">
                <xsd:sequence>
                    <xsd:element name="packet" minOccurs="0" maxOccurs="unbounded" type="tns:PacketIdDetail" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ShipmentPacketsResult">
                <xsd:all>
                    <xsd:element name="packets" type="tns:PacketCollection" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="StatusRecords">
                <xsd:sequence>
                    <xsd:element name="record" minOccurs="1" maxOccurs="unbounded" type="tns:StatusRecord" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ExternalStatusRecords">
                <xsd:sequence>
                    <xsd:element name="record" minOccurs="1" maxOccurs="unbounded" type="tns:ExternalStatusRecord" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Contact">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="0" />
                    <xsd:element name="surname" type="xsd:string" />
                    <xsd:element name="company" type="xsd:string" minOccurs="0" />
                    <xsd:element name="street" type="xsd:string" />
                    <xsd:element name="houseNumber" type="xsd:string" />
                    <xsd:element name="city" type="xsd:string" />
                    <xsd:element name="zip" type="tns:zip" />
                    <xsd:element name="countryCode" type="tns:string2" />
                    <xsd:element name="phone" type="tns:phone" minOccurs="0" />
                    <xsd:element name="email" type="tns:email" minOccurs="0" />
                    <xsd:element name="note" type="xsd:string" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Address">
                <xsd:sequence>
                    <xsd:element name="street" type="xsd:string" />
                    <xsd:element name="houseNumber" type="xsd:string" />
                    <xsd:element name="city" type="xsd:string" />
                    <xsd:element name="zip" type="tns:zip" />
                    <xsd:element name="countryCode" type="tns:string2" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PacketConsignerDetail">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string" />
                    <xsd:element name="password" type="xsd:string" />
                    <xsd:element name="consignerEmail" type="tns:email" />
                    <xsd:element name="consignerPhone" type="tns:phone" nillable="true" />
                    <xsd:element name="consignerCountry" type="tns:string2" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="getConsignmentPasswordResult">
                <xsd:sequence>
                    <xsd:element name="packetConsignerDetail" type="tns:PacketConsignerDetail" nillable="true" />
                    <xsd:element name="fault" type="xsd:string" nillable="true" />
                    <xsd:element name="IncorrectApiPasswordFault" type="tns:IncorrectApiPasswordFault" minOccurs="0" />
                    <xsd:element name="PacketIdFault" type="tns:PacketIdFault" minOccurs="0" />
                    <xsd:element name="AccessDeniedFault" type="tns:AccessDeniedFault" minOccurs="0" />
                    <xsd:element name="PacketAttributesFault" type="tns:PacketAttributesFault" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="PacketInfoResult">
                <xsd:all>
                    <xsd:element name="branchId" type="xsd:unsignedInt" />
                    <xsd:element name="invoicedWeightGrams" type="xsd:unsignedInt" nillable="true" />
                    <xsd:element name="courierInfo" type="tns:CourierInfo" />
                    <xsd:element name="services" type="tns:Services" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="CourierInfo">
                <xsd:sequence>
                    <xsd:element name="courierInfoItem" type="tns:CourierInfoItem" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CourierInfoItem">
                <xsd:all>
                    <xsd:element name="courierId" type="xsd:unsignedInt" />
                    <xsd:element name="courierName" type="xsd:string" />
                    <xsd:element name="courierNumbers" type="tns:CourierNumbers" />
                    <xsd:element name="courierBarcodes" type="tns:CourierBarcodes" />
                    <xsd:element name="courierTrackingNumbers" type="tns:CourierTrackingNumbers" />
                    <xsd:element name="courierTrackingUrls" type="tns:CourierTrackingUrls" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="CourierNumbers">
                <xsd:sequence>
                    <xsd:element name="courierNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CourierBarcodes">
                <xsd:sequence>
                    <xsd:element name="courierBarcode" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CourierTrackingNumbers">
                <xsd:sequence>
                    <xsd:element name="courierTrackingNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CourierTrackingUrls">
                <xsd:sequence>
                    <xsd:element name="courierTrackingUrl" type="tns:CourierTrackingUrl" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="CourierTrackingUrl">
                <xsd:all>
                    <xsd:element name="lang" type="xsd:string" />
                    <xsd:element name="url" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="AttributeFault">
                <xsd:all>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="fault" type="xsd:string" />
                    <xsd:element name="field" type="xsd:string" minOccurs="0" nillable="true" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="PacketAttributesFault">
                <xsd:all>
                    <xsd:element name="attributes">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="fault" type="tns:AttributeFault" minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:element type="tns:PacketAttributesFault" name="PacketAttributesFault" />

            <xsd:complexType name="PacketIdFault" />
            <xsd:complexType name="PacketIdsFault">
                <xsd:all>
                    <xsd:element name="ids">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="packetId" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="PacketIdFault" type="tns:PacketIdFault" />
            <xsd:element name="PacketIdsFault" type="tns:PacketIdsFault" />

            <xsd:complexType name="CancelNotAllowedFault" />
            <xsd:element name="CancelNotAllowedFault" type="tns:CancelNotAllowedFault" />

            <xsd:complexType name="NoPacketIdsFault" />
            <xsd:element name="NoPacketIdsFault" type="tns:NoPacketIdsFault" />

            <xsd:complexType name="CustomBarcodeNotAllowedFault" />
            <xsd:element name="CustomBarcodeNotAllowedFault" type="tns:CustomBarcodeNotAllowedFault" />

            <xsd:complexType name="ShipmentNotFoundFault" />
            <xsd:element name="ShipmentNotFoundFault" type="tns:ShipmentNotFoundFault" />

            <xsd:complexType name="DateOutOfRangeFault" />
            <xsd:element name="DateOutOfRangeFault" type="tns:DateOutOfRangeFault" />

            <xsd:complexType name="UnknownLabelFormatFault" />
            <xsd:element name="UnknownLabelFormatFault" type="tns:UnknownLabelFormatFault" />

            <xsd:complexType name="IncorrectApiPasswordFault" />
            <xsd:element name="IncorrectApiPasswordFault" type="tns:IncorrectApiPasswordFault" />

            <xsd:complexType name="SenderNotExists" />
            <xsd:element name="SenderNotExists" type="tns:SenderNotExists" />

            <xsd:complexType name="ArgumentsFault" />
            <xsd:element name="ArgumentsFault" type="tns:ArgumentsFault" />

            <xsd:complexType name="InvalidEmailAddressFault" />
            <xsd:element name="InvalidEmailAddressFault" type="tns:InvalidEmailAddressFault" />

            <xsd:complexType name="InvalidPhoneNumberFault" />
            <xsd:element name="InvalidPhoneNumberFault" type="tns:InvalidPhoneNumberFault" />

            <xsd:complexType name="DispatchOrderNotAllowedFault" />
            <xsd:element name="DispatchOrderNotAllowedFault" type="tns:DispatchOrderNotAllowedFault" />

            <xsd:complexType name="DispatchOrderInvalidPdfFault" />
            <xsd:element name="DispatchOrderInvalidPdfFault" type="tns:DispatchOrderInvalidPdfFault" />

            <xsd:complexType name="TooLateToUpdateCodFault" />
            <xsd:element name="TooLateToUpdateCodFault" type="tns:TooLateToUpdateCodFault" />

            <xsd:complexType name="CodUpdateNotAllowedFault" />
            <xsd:element name="CodUpdateNotAllowedFault" type="tns:CodUpdateNotAllowedFault" />

            <xsd:complexType name="DispatchOrderUnknownCodeFault">
                <xsd:all>
                    <xsd:element name="codes">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:all>
            </xsd:complexType>
            <xsd:element name="DispatchOrderUnknownCodeFault" type="tns:DispatchOrderUnknownCodeFault" />

            <xsd:complexType name="NotSupportedFault" />
            <xsd:element name="NotSupportedFault" type="tns:NotSupportedFault" />

            <xsd:complexType name="ExternalGatewayFault" />
            <xsd:element name="ExternalGatewayFault" type="tns:ExternalGatewayFault" />

            <xsd:complexType name="InvalidCourierNumber" />
            <xsd:element name="InvalidCourierNumber" type="tns:InvalidCourierNumber" />

            <xsd:complexType name="AccessDeniedFault" />
            <xsd:element name="AccessDeniedFault" type="tns:AccessDeniedFault" />

            <xsd:complexType name="NoPacketCourierDataFault" />
            <xsd:element name="NoPacketCourierDataFault" type="tns:NoPacketCourierDataFault" />

            <xsd:complexType name="NullableDate">
                <xsd:sequence>
                    <xsd:element name="date" type="xsd:date" nillable="true" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="ConsignmentPasswordResult">
                <xsd:all>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string" />
                    <xsd:element name="consignerEmail" type="tns:email" />
                    <xsd:element name="consignerPhone" type="tns:phone" minOccurs="0" />
                    <xsd:element name="consignerCountry" type="tns:string2" minOccurs="0" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="packetCourierNumberV2Result">
                <xsd:all>
                    <xsd:element name="courierNumber" type="xsd:string" />
                    <xsd:element name="carrierId" type="xsd:string" />
                    <xsd:element name="carrierName" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="StorageFileAttributes">
                <xsd:all>
                    <xsd:element name="content" type="xsd:string" />
                    <xsd:element name="name" type="xsd:string" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="ListStorageFileAttributes">
                <xsd:all>
                    <xsd:element name="fromDate" type="xsd:date" />
                    <xsd:element name="toDate" type="xsd:date" />
                </xsd:all>
            </xsd:complexType>
            <xsd:complexType name="StorageFiles">
                <xsd:sequence>
                    <xsd:element name="StorageFile" maxOccurs="unbounded" type="tns:StorageFile" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="StorageFile">
                <xsd:all>
                    <xsd:element name="id" type="xsd:integer" />
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="created" type="xsd:dateTime" />
                </xsd:all>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="CancelNotAllowedFault">
        <part name="CancelNotAllowedFault" element="tns:CancelNotAllowedFault" />
    </message>
    <message name="IncorrectApiPasswordFault">
        <part name="IncorrectApiPasswordFault" element="tns:IncorrectApiPasswordFault" />
    </message>
    <message name="SenderNotExists">
        <part name="SenderNotExists" element="tns:SenderNotExists" />
    </message>
    <message name="PacketAttributesFault">
        <part name="PacketAttributesFault" element="tns:PacketAttributesFault" />
    </message>
    <message name="PacketIdFault">
        <part name="PacketIdFault" element="tns:PacketIdFault" />
    </message>
    <message name="TooLateToUpdateCodFault">
        <part name="TooLateToUpdateCodFault" element="tns:TooLateToUpdateCodFault" />
    </message>
    <message name="CodUpdateNotAllowedFault">
        <part name="CodUpdateNotAllowedFault" element="tns:CodUpdateNotAllowedFault" />
    </message>
    <message name="PacketIdsFault">
        <part name="PacketIdsFault" element="tns:PacketIdsFault" />
    </message>
    <message name="NoPacketIdsFault">
        <part name="NoPacketIdsFault" element="tns:NoPacketIdsFault" />
    </message>
    <message name="NoPacketCourierDataFault">
        <part name="NoPacketCourierDataFault" element="tns:NoPacketCourierDataFault" />
    </message>
    <message name="CustomBarcodeNotAllowedFault">
        <part name="CustomBarcodeNotAllowedFault" element="tns:CustomBarcodeNotAllowedFault" />
    </message>
    <message name="ShipmentNotFoundFault">
        <part name="ShipmentNotFoundFault" element="tns:ShipmentNotFoundFault" />
    </message>
    <message name="DateOutOfRangeFault">
        <part name="DateOutOfRangeFault" element="tns:DateOutOfRangeFault" />
    </message>
    <message name="UnknownLabelFormatFault">
        <part name="UnknownLabelFormatFault" element="tns:UnknownLabelFormatFault" />
    </message>
    <message name="DispatchOrderNotAllowedFault">
        <part name="DispatchOrderNotAllowedFault" element="tns:DispatchOrderNotAllowedFault" />
    </message>
    <message name="DispatchOrderInvalidPdfFault">
        <part name="DispatchOrderInvalidPdfFault" element="tns:DispatchOrderInvalidPdfFault" />
    </message>
    <message name="DispatchOrderUnknownCodeFault">
        <part name="DispatchOrderUnknownCodeFault" element="tns:DispatchOrderUnknownCodeFault" />
    </message>
    <message name="ArgumentsFault">
        <part name="ArgumentsFault" element="tns:ArgumentsFault" />
    </message>
    <message name="NotSupportedFault">
        <part name="NotSupportedFault" element="tns:NotSupportedFault" />
    </message>
    <message name="ExternalGatewayFault">
        <part name="ExternalGatewayFault" element="tns:ExternalGatewayFault" />
    </message>
    <message name="InvalidCourierNumber">
        <part name="InvalidCourierNumber" element="tns:InvalidCourierNumber" />
    </message>
    <message name="InvalidEmailAddressFault">
        <part name="InvalidEmailAddressFault" element="tns:InvalidEmailAddressFault" />
    </message>
    <message name="InvalidPhoneNumberFault">
        <part name="InvalidPhoneNumberFault" element="tns:InvalidPhoneNumberFault" />
    </message>
    <message name="AccessDeniedFault">
        <part name="AccessDeniedFault" element="tns:AccessDeniedFault" />
    </message>

    <message name="packetAttributesValid">
        <part name="apiPassword" type="xsd:string" />
        <part name="attributes" type="tns:PacketAttributes" />
    </message>
    <message name="packetAttributesValidResponse" />

    <message name="packetClaimAttributesValid">
        <part name="apiPassword" type="xsd:string" />
        <part name="claimAttributes" type="tns:ClaimAttributes" />
    </message>
    <message name="packetClaimAttributesValidResponse" />

    <message name="createPacket">
        <part name="apiPassword" type="xsd:string" />
        <part name="attributes" type="tns:PacketAttributes" />
    </message>
    <message name="createPacketResponse">
        <part name="createPacketResult" type="tns:PacketIdDetail" />
    </message>

    <message name="cancelPacket">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="cancelPacketResponse" />

    <message name="createPackets">
        <part name="apiPassword" type="xsd:string" />
        <part name="packets" type="tns:PacketsAttributes" />
        <part name="transaction" type="xsd:boolean" />
    </message>
    <message name="createPacketsResponse">
        <part name="createPacketsResult" type="tns:CreatePacketsResults" />
    </message>
    <message name="createPacketsB2B">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetB2BAttributes" type="tns:PacketB2BAttributes" />
    </message>
    <message name="createPacketsB2BResponse">
        <part name="createPacketsB2BResults" type="tns:CreatePacketsB2BResults" />
    </message>

    <message name="createPacketClaim">
        <part name="apiPassword" type="xsd:string" />
        <part name="claimAttributes" type="tns:ClaimAttributes" />
    </message>
    <message name="createPacketClaimResponse">
        <part name="createPacketClaimResult" type="tns:PacketIdDetail" />
    </message>

    <message name="createPacketClaimWithPassword">
        <part name="apiPassword" type="xsd:string" />
        <part name="claimWithPasswordAttributes" type="tns:ClaimWithPasswordAttributes" />
    </message>
    <message name="createPacketClaimWithPasswordResponse">
        <part name="createPacketClaimWithPasswordResult" type="tns:PacketDetail" />
    </message>

    <message name="createShipment">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetIds" type="tns:PacketIds" />
        <part name="customBarcode" type="xsd:string" />
    </message>
    <message name="createShipmentResponse">
        <part name="createShipmentResult" type="tns:ShipmentIdDetail" />
    </message>

    <message name="shipmentPackets">
        <part name="apiPassword" type="xsd:string" />
        <part name="shipmentId" type="xsd:string" />
    </message>
    <message name="shipmentPacketsResponse">
        <part name="shipmentPacketsResult" type="tns:ShipmentPacketsResult" />
    </message>

    <message name="packetStatus">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetStatusResponse">
        <part name="packetStatusResult" type="tns:CurrentStatusRecord" />
    </message>

    <message name="packetTracking">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetTrackingResponse">
        <part name="packetTrackingResult" type="tns:StatusRecords" />
    </message>

    <message name="packetCourierTracking">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetCourierTrackingResponse">
        <part name="packetCourierTrackingResult" type="tns:ExternalStatusRecords" />
    </message>

    <message name="packetGetStoredUntil">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetGetStoredUntilResponse">
        <part name="packetGetStoredUntilResult" type="tns:NullableDate" />
    </message>

    <message name="packetSetStoredUntil">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="date" type="xsd:date" />
    </message>
    <message name="packetSetStoredUntilResponse" />

    <message name="barcodePng">
        <part name="apiPassword" type="xsd:string" />
        <part name="barcode" type="xsd:string"/>
    </message>
    <message name="barcodePngResponse">
        <part name="barcodePngResponseResult" type="xsd:base64Binary"/>
    </message>

    <message name="packetLabelPdf">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string"/>
        <part name="format" type="xsd:string"/>
        <part name="offset" type="xsd:unsignedInt"/>
    </message>
    <message name="packetLabelPdfResponse">
        <part name="packetLabelPdfResult" type="xsd:base64Binary"/>
    </message>

    <message name="packetsLabelsPdf">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetIds" type="tns:PacketIds"/>
        <part name="format" type="xsd:string"/>
        <part name="offset" type="xsd:unsignedInt"/>
    </message>
    <message name="packetsLabelsPdfResponse">
        <part name="packetsLabelsPdfResult" type="xsd:base64Binary"/>
    </message>

    <message name="packetLabelZpl">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string"/>
        <part name="dpi" type="xsd:unsignedInt"/>
    </message>
    <message name="packetLabelZplResponse">
        <part name="packetLabelZplResult" type="xsd:string"/>
    </message>

    <message name="setCountryStatus">
        <part name="apiPassword" type="xsd:string" />
        <part name="country" type="tns:string2"/>
        <part name="status" type="xsd:string"/>
    </message>
    <message name="setCountryStatusResponse" />

    <message name="setBranchStatus">
        <part name="apiPassword" type="xsd:string" />
        <part name="id" type="xsd:unsignedInt"/>
        <part name="status" type="xsd:string"/>
    </message>
    <message name="setBranchStatusResponse" />

    <message name="packetCourierNumber">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetCourierNumberResponse">
        <part name="packetCourierNumberResult" type="xsd:string" />
    </message>

    <message name="packetCourierNumberV2">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetCourierNumberV2Response">
        <part name="packetCourierNumberV2Result" type="tns:packetCourierNumberV2Result" />
    </message>

    <message name="packetCourierBarcode">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="courierNumber" type="xsd:string" />
    </message>
    <message name="packetCourierBarcodeResponse">
        <part name="packetCourierBarcodeResult" type="xsd:string" />
    </message>

    <message name="packetCourierLabelPng">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="courierNumber" type="xsd:string" />
    </message>
    <message name="packetCourierLabelPngResponse">
        <part name="packetCourierLabelPngResult" type="xsd:base64Binary" />
    </message>

    <message name="packetCourierLabelPdf">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="courierNumber" type="xsd:string" />
    </message>
    <message name="packetCourierLabelPdfResponse">
        <part name="packetCourierLabelPdfResult" type="xsd:base64Binary" />
    </message>

    <message name="packetsCourierLabelsPdf">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetIdsWithCourierNumbers" type="tns:PacketIdsWithCourierNumbers" />
        <part name="offset" type="xsd:unsignedInt"/>
        <part name="format" type="xsd:string"/>
    </message>
    <message name="packetsCourierLabelsPdfResponse">
        <part name="packetsCourierLabelsPdfResult" type="xsd:base64Binary" />
    </message>

    <message name="packetCourierLabelZpl">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="courierNumber" type="xsd:string" />
        <part name="dpi" type="xsd:unsignedInt" />
    </message>
    <message name="packetCourierLabelZplResponse">
        <part name="packetCourierLabelZplResult" type="xsd:string" />
    </message>

    <message name="packetCourierConfirm">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="courierNumber" type="xsd:string" />
    </message>
    <message name="packetCourierConfirmResponse" />

    <message name="senderGetReturnString">
        <part name="apiPassword" type="xsd:string" />
        <part name="sender" type="tns:string64" />
    </message>
    <message name="senderGetReturnStringResponse">
        <part name="senderGetReturnStringResult" type="xsd:string" />
    </message>

    <message name="senderGetReturnRouting">
        <part name="apiPassword" type="xsd:string" />
        <part name="sender" type="tns:string64" />
    </message>
    <message name="senderGetReturnRoutingResponse">
        <part name="senderGetReturnRoutingResult" type="tns:SenderGetReturnRoutingResult" />
    </message>

    <message name="adviseBranch">
        <part name="apiPassword" type="xsd:string" />
        <part name="email" type="tns:email" />
        <part name="phone" type="tns:phone" />
        <part name="addressId" type="xsd:unsignedInt" />
    </message>
    <message name="adviseBranchResponse" />

    <message name="packetCod">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetCodResponse">
        <part name="packetCodResult" type="tns:money" />
    </message>

    <message name="updatePacket">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
        <part name="updateAttributes" type="tns:UpdatePacketAttributes" />
    </message>
    <message name="updatePacketResponse" />

    <message name="getConsignmentPassword">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetConsignerAttributes" type="tns:PacketConsignerAttributes" />
    </message>
    <message name="getConsignmentPasswordResponse">
        <part name="getConsignmentPasswordResult" type="tns:ConsignmentPasswordResult" />
    </message>
    <message name="createStorageFileRequest">
        <part name="apiPassword" type="xsd:string" />
        <part name="storageFileAttributes" type="tns:StorageFileAttributes" />
    </message>
    <message name="createStorageFileResponse">
        <part name="storageFile" type="tns:StorageFile" />
    </message>
    <message name="listStorageFileRequest">
        <part name="apiPassword" type="xsd:string" />
        <part name="listStorageFileAttributes" type="tns:ListStorageFileAttributes" />
    </message>
    <message name="listStorageFileResponse">
        <part name="storageFiles" type="tns:StorageFiles" />
    </message>
    <message name="packetInfo">
        <part name="apiPassword" type="xsd:string" />
        <part name="packetId" type="xsd:string" />
    </message>
    <message name="packetInfoResponse">
        <part name="packetInfoResult" type="tns:PacketInfoResult" />
    </message>

    <portType name="Packetery">
        <operation name="packetAttributesValid">
            <input message="tns:packetAttributesValid" />
            <output message="tns:packetAttributesValidResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
            <fault message="tns:DispatchOrderNotAllowedFault" name="DispatchOrderNotAllowedFault" />
            <fault message="tns:DispatchOrderInvalidPdfFault" name="DispatchOrderInvalidPdfFault" />
            <fault message="tns:DispatchOrderUnknownCodeFault" name="DispatchOrderUnknownCodeFault" />
        </operation>
        <operation name="packetClaimAttributesValid">
           <input message="tns:packetClaimAttributesValid" />
           <output message="tns:packetClaimAttributesValidResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
        </operation>
        <operation name="createPacket">
           <input message="tns:createPacket" />
           <output message="tns:createPacketResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
           <fault message="tns:DispatchOrderNotAllowedFault" name="DispatchOrderNotAllowedFault" />
           <fault message="tns:DispatchOrderInvalidPdfFault" name="DispatchOrderInvalidPdfFault" />
           <fault message="tns:DispatchOrderUnknownCodeFault" name="DispatchOrderUnknownCodeFault" />
        </operation>
        <operation name="cancelPacket">
            <input message="tns:cancelPacket" />
            <output message="tns:cancelPacketResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketIdFault" name="PacketIdFault" />
            <fault message="tns:CancelNotAllowedFault" name="CancelNotAllowedFault" />
        </operation>
        <operation name="createPackets">
           <input message="tns:createPackets" />
           <output message="tns:createPacketsResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
        </operation>
        <operation name="createPacketsB2B">
           <input message="tns:createPacketsB2B" />
           <output message="tns:createPacketsB2BResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:AccessDeniedFault" name="AccessDeniedFault" />
           <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
        </operation>
        <operation name="createPacketClaim">
           <input message="tns:createPacketClaim" />
           <output message="tns:createPacketClaimResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
        </operation>
        <operation name="createPacketClaimWithPassword">
            <input message="tns:createPacketClaimWithPassword" />
            <output message="tns:createPacketClaimWithPasswordResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
        </operation>
        <operation name="createShipment">
           <input message="tns:createShipment"/>
           <output message="tns:createShipmentResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdsFault" name="PacketIdsFault" />
           <fault message="tns:NoPacketIdsFault" name="NoPacketIdsFault" />
           <fault message="tns:CustomBarcodeNotAllowedFault" name="CustomBarcodeNotAllowedFault" />
        </operation>
        <operation name="shipmentPackets">
           <input message="tns:shipmentPackets"/>
           <output message="tns:shipmentPacketsResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:ShipmentNotFoundFault" name="ShipmentNotFoundFault" />
        </operation>
        <operation name="packetStatus">
           <input message="tns:packetStatus"/>
           <output message="tns:packetStatusResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
        </operation>
        <operation name="packetTracking">
           <input message="tns:packetTracking"/>
           <output message="tns:packetTrackingResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
        </operation>
        <operation name="packetCourierTracking">
            <input message="tns:packetCourierTracking"/>
            <output message="tns:packetCourierTrackingResponse"/>
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketIdFault" name="PacketIdFault" />
            <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
            <fault message="tns:NoPacketCourierDataFault" name="NoPacketCourierDataFault" />
        </operation>
        <operation name="packetGetStoredUntil">
           <input message="tns:packetGetStoredUntil"/>
           <output message="tns:packetGetStoredUntilResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
        </operation>
        <operation name="packetSetStoredUntil">
           <input message="tns:packetSetStoredUntil"/>
           <output message="tns:packetSetStoredUntilResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:DateOutOfRangeFault" name="DateOutOfRangeFault" />
        </operation>
        <operation name="barcodePng">
           <input message="tns:barcodePng"/>
           <output message="tns:barcodePngResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
        </operation>
        <operation name="packetLabelPdf">
           <input message="tns:packetLabelPdf"/>
           <output message="tns:packetLabelPdfResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:UnknownLabelFormatFault" name="UnknownLabelFormatFault" />
        </operation>
        <operation name="packetsLabelsPdf">
           <input message="tns:packetsLabelsPdf"/>
           <output message="tns:packetsLabelsPdfResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:NoPacketIdsFault" name="NoPacketIdsFault" />
           <fault message="tns:PacketIdsFault" name="PacketIdsFault" />
           <fault message="tns:UnknownLabelFormatFault" name="UnknownLabelFormatFault" />
        </operation>
        <operation name="packetLabelZpl">
            <input message="tns:packetLabelZpl"/>
            <output message="tns:packetLabelZplResponse"/>
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketIdFault" name="PacketIdFault" />
            <fault message="tns:UnknownLabelFormatFault" name="UnknownLabelFormatFault" />
        </operation>
        <operation name="setCountryStatus">
           <input message="tns:setCountryStatus"/>
           <output message="tns:setCountryStatusResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:ArgumentsFault" name="ArgumentsFault" />
        </operation>
        <operation name="setBranchStatus">
           <input message="tns:setBranchStatus"/>
           <output message="tns:setBranchStatusResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:ArgumentsFault" name="ArgumentsFault" />
        </operation>
        <operation name="packetCourierNumber">
           <input message="tns:packetCourierNumber"/>
           <output message="tns:packetCourierNumberResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
        </operation>
        <operation name="packetCourierNumberV2">
           <input message="tns:packetCourierNumberV2"/>
           <output message="tns:packetCourierNumberV2Response"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
        </operation>
        <operation name="packetCourierBarcode">
           <input message="tns:packetCourierBarcode"/>
           <output message="tns:packetCourierBarcodeResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
        </operation>
        <operation name="packetCourierLabelPng">
           <input message="tns:packetCourierLabelPng"/>
           <output message="tns:packetCourierLabelPngResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
        </operation>
        <operation name="packetCourierLabelPdf">
           <input message="tns:packetCourierLabelPdf"/>
           <output message="tns:packetCourierLabelPdfResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
        </operation>
        <operation name="packetsCourierLabelsPdf">
           <input message="tns:packetsCourierLabelsPdf"/>
           <output message="tns:packetsCourierLabelsPdfResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
           <fault message="tns:NoPacketIdsFault" name="NoPacketIdsFault" />
        </operation>
        <operation name="packetCourierLabelZpl">
           <input message="tns:packetCourierLabelZpl"/>
           <output message="tns:packetCourierLabelZplResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
        </operation>
        <operation name="packetCourierConfirm">
           <input message="tns:packetCourierConfirm"/>
           <output message="tns:packetCourierConfirmResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:NotSupportedFault" name="NotSupportedFault" />
           <fault message="tns:ExternalGatewayFault" name="ExternalGatewayFault" />
           <fault message="tns:InvalidCourierNumber" name="InvalidCourierNumber" />
        </operation>
        <operation name="senderGetReturnString">
           <input message="tns:senderGetReturnString"/>
           <output message="tns:senderGetReturnStringResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:SenderNotExists" name="SenderNotExists" />
        </operation>
        <operation name="senderGetReturnRouting">
           <input message="tns:senderGetReturnRouting"/>
           <output message="tns:senderGetReturnRoutingResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:SenderNotExists" name="SenderNotExists" />
        </operation>
        <operation name="adviseBranch">
           <input message="tns:adviseBranch"/>
           <output message="tns:adviseBranchResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:InvalidEmailAddressFault" name="InvalidEmailAddressFault" />
           <fault message="tns:InvalidPhoneNumberFault" name="InvalidPhoneNumberFault" />
        </operation>
        <operation name="packetCod">
           <input message="tns:packetCod"/>
           <output message="tns:packetCodResponse"/>
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
        </operation>
        <operation name="updatePacket">
           <input message="tns:updatePacket" />
           <output message="tns:updatePacketResponse" />
           <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
           <fault message="tns:PacketIdFault" name="PacketIdFault" />
           <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
           <fault message="tns:TooLateToUpdateCodFault" name="TooLateToUpdateCodFault" />
           <fault message="tns:CodUpdateNotAllowedFault" name="CodUpdateNotAllowedFault" />
        </operation>
        <operation name="getConsignmentPassword">
            <input message="tns:getConsignmentPassword" />
            <output message="tns:getConsignmentPasswordResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:PacketIdFault" name="PacketIdFault" />
            <fault message="tns:AccessDeniedFault" name="AccessDeniedFault" />
            <fault message="tns:PacketAttributesFault" name="PacketAttributesFault" />
        </operation>
        <operation name="createStorageFile">
            <input message="tns:createStorageFileRequest" />
            <output message="tns:createStorageFileResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
        </operation>
        <operation name="listStorageFile">
            <input message="tns:listStorageFileRequest" />
            <output message="tns:listStorageFileResponse" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
        </operation>
        <operation name="packetInfo">
            <input message="tns:packetInfo" />
            <output message="tns:packetInfoResponse" />
            <fault message="tns:PacketIdFault" name="PacketIdFault" />
            <fault message="tns:IncorrectApiPasswordFault" name="IncorrectApiPasswordFault" />
            <fault message="tns:NoPacketCourierDataFault" name="NoPacketCourierDataFault" />
        </operation>
    </portType>

    <binding name="PacketeryBinding" type="tns:Packetery">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="packetAttributesValid">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetAttributesValid"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
           <fault name="DispatchOrderNotAllowedFault"><soap:fault name="DispatchOrderNotAllowedFault" use="literal"/></fault>
           <fault name="DispatchOrderInvalidPdfFault"><soap:fault name="DispatchOrderInvalidPdfFault" use="literal"/></fault>
           <fault name="DispatchOrderUnknownCodeFault"><soap:fault name="DispatchOrderUnknownCodeFault" use="literal"/></fault>
        </operation>
        <operation name="packetClaimAttributesValid">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetClaimAttributesValid"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
        </operation>
        <operation name="createPacket">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createPacket"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
           <fault name="DispatchOrderNotAllowedFault"><soap:fault name="DispatchOrderNotAllowedFault" use="literal"/></fault>
           <fault name="DispatchOrderInvalidPdfFault"><soap:fault name="DispatchOrderInvalidPdfFault" use="literal"/></fault>
           <fault name="DispatchOrderUnknownCodeFault"><soap:fault name="DispatchOrderUnknownCodeFault" use="literal"/></fault>
        </operation>
        <operation name="cancelPacket">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/cancelPacket" />
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
			<fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
			<fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
			<fault name="CancelNotAllowedFault"><soap:fault name="CancelNotAllowedFault" use="literal"/></fault>
        </operation>
        <operation name="createPackets">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createPackets"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
        </operation>
        <operation name="createPacketsB2B">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createPacketsB2B"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="AccessDeniedFault"><soap:fault name="AccessDeniedFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
        </operation>
        <operation name="createPacketClaim">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createPacketClaim"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
        </operation>
        <operation name="createPacketClaimWithPassword">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createPacketClaimWithPassword"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
            <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
        </operation>
        <operation name="createShipment">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createShipment"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdsFault"><soap:fault name="PacketIdsFault" use="literal"/></fault>
           <fault name="NoPacketIdsFault"><soap:fault name="NoPacketIdsFault" use="literal"/></fault>
           <fault name="CustomBarcodeNotAllowedFault"><soap:fault name="CustomBarcodeNotAllowedFault" use="literal"/></fault>
        </operation>
        <operation name="shipmentPackets">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/shipmentPackets"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
            <fault name="ShipmentNotFoundFault"><soap:fault name="ShipmentNotFoundFault" use="literal"/></fault>
        </operation>
        <operation name="packetStatus">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetStatus"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
        </operation>
        <operation name="packetTracking">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetTracking"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
        </operation>
        <operation name="packetCourierTracking">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierTracking"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
            <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
            <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
            <fault name="NoPacketCourierDataFault"><soap:fault name="NoPacketCourierDataFault" use="literal"/></fault>
        </operation>
        <operation name="packetGetStoredUntil">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetGetStoredUntil"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
        </operation>
        <operation name="packetSetStoredUntil">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetSetStoredUntil"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="DateOutOfRangeFault"><soap:fault name="DateOutOfRangeFault" use="literal"/></fault>
        </operation>
        <operation name="barcodePng">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/barcodePng"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
        </operation>
        <operation name="packetLabelPdf">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetLabelPdf"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="UnknownLabelFormatFault"><soap:fault name="UnknownLabelFormatFault" use="literal"/></fault>
        </operation>
        <operation name="packetsLabelsPdf">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetsLabelsPdf"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdsFault"><soap:fault name="PacketIdsFault" use="literal"/></fault>
           <fault name="NoPacketIdsFault"><soap:fault name="NoPacketIdsFault" use="literal"/></fault>
           <fault name="UnknownLabelFormatFault"><soap:fault name="UnknownLabelFormatFault" use="literal"/></fault>
        </operation>
        <operation name="packetLabelZpl">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetLabelZpl"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
            <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
            <fault name="UnknownLabelFormatFault"><soap:fault name="UnknownLabelFormatFault" use="literal"/></fault>
        </operation>
        <operation name="setCountryStatus">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/setCountryStatus"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="ArgumentsFault"><soap:fault name="ArgumentsFault" use="literal"/></fault>
        </operation>
        <operation name="setBranchStatus">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/setBranchStatus"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="ArgumentsFault"><soap:fault name="ArgumentsFault" use="literal"/></fault>
        </operation>
        <operation name="packetCourierNumber">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierNumber"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
        </operation>
        <operation name="packetCourierNumberV2">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierNumberV2"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
        </operation>
        <operation name="packetCourierBarcode">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierBarcode"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
        </operation>
        <operation name="packetCourierLabelPng">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierLabelPng"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
        </operation>
        <operation name="packetCourierLabelPdf">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierLabelPdf"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
        </operation>
        <operation name="packetsCourierLabelsPdf">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetsCourierLabelsPdf"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
           <fault name="NoPacketIdsFault"><soap:fault name="NoPacketIdsFault" use="literal"/></fault>
        </operation>
        <operation name="packetCourierLabelZpl">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierLabelZpl"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
        </operation>
        <operation name="packetCourierConfirm">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCourierConfirm"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="NotSupportedFault"><soap:fault name="NotSupportedFault" use="literal"/></fault>
           <fault name="ExternalGatewayFault"><soap:fault name="ExternalGatewayFault" use="literal"/></fault>
           <fault name="InvalidCourierNumber"><soap:fault name="InvalidCourierNumber" use="literal"/></fault>
        </operation>
        <operation name="senderGetReturnString">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/senderGetReturnString"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="SenderNotExists"><soap:fault name="SenderNotExists" use="literal"/></fault>
        </operation>
        <operation name="senderGetReturnRouting">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/senderGetReturnRouting"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="SenderNotExists"><soap:fault name="SenderNotExists" use="literal"/></fault>
        </operation>
        <operation name="adviseBranch">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/adviseBranch"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="InvalidEmailAddressFault"><soap:fault name="InvalidEmailAddressFault" use="literal"/></fault>
           <fault name="InvalidPhoneNumberFault"><soap:fault name="InvalidPhoneNumberFault" use="literal"/></fault>
        </operation>
        <operation name="packetCod">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetCod"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
        </operation>
        <operation name="updatePacket">
           <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/updatePacket"/>
           <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
           <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
           <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
           <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
           <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal"/></fault>
           <fault name="TooLateToUpdateCodFault"><soap:fault name="TooLateToUpdateCodFault" use="literal"/></fault>
           <fault name="CodUpdateNotAllowedFault"><soap:fault name="CodUpdateNotAllowedFault" use="literal"/></fault>
        </operation>
        <operation name="getConsignmentPassword">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/getConsignmentPassword" />
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal" /></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal" /></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal" /></fault>
            <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal" /></fault>
            <fault name="AccessDeniedFault"><soap:fault name="AccessDeniedFault" use="literal" /></fault>
            <fault name="PacketAttributesFault"><soap:fault name="PacketAttributesFault" use="literal" /></fault>
        </operation>
        <operation name="createStorageFile">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/createStorageFile"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal" /></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal" /></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal" /></fault>
        </operation>
        <operation name="listStorageFile">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/listStorageFile"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal" /></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal" /></output>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal" /></fault>
        </operation>
        <operation name="packetInfo">
            <soap:operation soapAction="http://www.zasilkovna.cz/api/soap/packetInfo"/>
            <input><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl2" use="literal"/></input>
            <output><soap:body namespace="http://www.zasilkovna.cz/api/soap.wsdl" use="literal"/></output>
            <fault name="PacketIdFault"><soap:fault name="PacketIdFault" use="literal"/></fault>
            <fault name="IncorrectApiPasswordFault"><soap:fault name="IncorrectApiPasswordFault" use="literal"/></fault>
            <fault name="NoPacketCourierDataFault"><soap:fault name="NoPacketCourierDataFault" use="literal"/></fault>
        </operation>
    </binding>

    <service name="PacketeryService">
        <documentation>This service allows to create packets and packet shipments, read information about their status and change some of their parameters.</documentation>
        <port name="PacketeryPort" binding="tns:PacketeryBinding">
            <soap:address location="http://www.zasilkovna.cz/api/soap" />
        </port>
    </service>
</definitions>
